.productsPage {
  width: 100%;
}

.wrapper {
  padding: 40px 0px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .productsPage {
    position: relative;
    top: 0;
    height: calc(100% - 84px);
    overflow-y: hidden;
    padding-bottom: 48px;
  }
  .wrapper {
    padding: 72px 0px 48px;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 72px 0px 81px;
    gap: 28px;
    position: relative;
  }
  .productsPage {
    position: absolute;
    top: 84px;
    background-image: linear-gradient(
        89deg,
        #040404 1.1%,
        rgba(4, 4, 4, 0) 70.79%
      ),
      url('../../img/products-Back.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .productsPage {
      background-image: url('../../img/products-Back2x.jpg');
    }
  }
}
/* lightgray -372.891px -2.705px / 133.568% 100.375% no-repeat */
