/*.diaryList {
    max-width: 335px;
}
*/
.diaryItem:not(:last-child) {
    margin-bottom: 40px;
}

.elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.statusCircle {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.cardStatus {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.elementCont {
    display: flex;

}

.elementCont tr:nth-last-child(-n + 4) {
    margin-bottom: 0px;
}

.elementCont tr:nth-last-child(n + 3) {
    margin-right: 16px;
}

.elementCont tr:last-child {
    margin-left: 8px;
}


.nameCateg {
    max-width: 70px;

    color: var(--accent-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nameValue {
    padding: 10px 14px;
    width: 297px;
    border-radius: 12px;
    border: 1px solid var(--input-border-color);
    color: #efede8;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elementCont .nameValue {
    width: 75px;
}

.elementCont .elem:last-child {
    width: 24px;
}

.elementCont .nameValue:not(:last-child) {
    width: auto;

}

.nameTrash {
    visibility: hidden;
    width: 15px;
    height: 12.5px;
}

.nameTrash:hover,
.nameTrash:focus {
    stroke: #a82b2b;
}

.recommendCont {
    display: flex;
    gap: 8px;
    align-items: center;
}

.productRecommend {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: #419b09;
}

.productNotRecommend {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: #e9101d;
}

.trashValue {
    cursor: pointer;
}

.iconTresh {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #a82b2b;

}

.iconCentr {
display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 375px) {
    .elementCont .nameValue {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .diaryItem:not(:first-child) .nameCateg {
        display: none;
    }

    .diaryItem:not(:last-child) {
        margin-bottom: 8px;
    }

    .table {
        display: flex;
        gap: 8px;
    }

    .elem {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }

    .nameValue {
        padding: 8px 14px;
        font-size: 16px;
        line-height: 1.5;
    }

    .elementCont .nameValue {
        width: 90px;
    }

    .elementCont tr:nth-last-child(n + 3) {
        margin-right: 8px;
    }

    .elementCont tr:last-child {
        margin-left: 12px;
    }

    .bodyTable {
        display: flex;
        gap: 8px;
    }

    .bodyTable .nameValue {
        width: 120px;
    }

    .table .bodyTable .elem:first-child .nameValue {
        width: 205px;
    }

    .diaryItem:not(:last-child) {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1440px) {
    .diaryList {
        padding-left: 16px;
    }

    .bodyTable .nameValue {
        width: 170px;
    }

    .elementCont .nameValue {
        width: 105px;
    }
}