.diaryList {
    max-width: 335px;
}

.diaryItem:not(:last-child) {
    margin-bottom: 40px;
}

.elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    gap: 8px;
}
.statusCircle {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}
.cardStatus {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.elementCont {
    display: flex;
}

.elementCont tr:nth-last-child(-n + 4) {
    margin-bottom: 0px;
}

.elementCont tr:last-child {
    margin-left: 8px;
}

.elementCont tr:nth-last-child(n + 3) {
    margin-right: 16px;
}

.nameCateg {
    max-width: 70px;

    color: var(--accent-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;

    overflow: hidden;
    /*ховаємо текст який за межі*/
    white-space: nowrap;
    /*запобігає переносу*/
    text-overflow: ellipsis;
    /*три крапки для відсіченого тексту*/
}

.nameValue {
    padding: 10px 14px;

    border-radius: 12px;
    border: 1px solid var(--input-border-color);
    color: #efede8;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.elementCont .nameValue {
    width: 75px;
}

.elementCont .element:last-child {
    width: 24px;
}

.recommendCont {
    display: flex;
    gap: 8px;
    align-items: center;
}

.productRecommend {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: #419b09;
}

.productNotRecommend {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: #e9101d;
}

.trashValue {
    cursor: pointer;
}

.iconTresh {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #a82b2b;

}

.iconTresh:hover,
.iconTresh:focus {
    fill: #a82b2b;
}

.nameTrash {
    visibility: hidden;
}

@media (max-width: 375px) {
    .elementCont .nameValue {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .diaryMainItem:not(:first-child) .nameCategory {
        display: none;
    }

    .diaryMainItem:not(:last-child) {
        margin-bottom: 8px;
    }

    .table {
        display: flex;
        gap: 8px;
    }

    .element {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }

    .nameValue {
        padding: 8px 14px;
        font-size: 16px;
        line-height: 1.5;
    }

    .elementWrap .nameValue {
        width: 90px;
    }

    .elementWrap tr:nth-last-child(n + 3) {
        margin-right: 8px;
    }

    .elementWrap tr:last-child {
        margin-left: 12px;
    }

    .bodyTable {
        display: flex;
        gap: 8px;
    }

    .bodyTable .nameValue {
        width: 120px;
    }

    .table .bodyTable .element:first-child .nameValue {
        width: 205px;
    }
}

@media screen and (min-width: 1440px) {
    .diaryMainList {
        padding-left: 16px;
    }

    .bodyTable .nameValue {
        width: 170px;
    }

    .elementWrap .nameValue {
        width: 105px;
    }
}