.btn{
    align-self: flex-start;
    padding:12px 40px;
    text-align:center;
    border:none;
    border-radius: 12px;
    background-color:var(--decorate-color);
    color:var(--invent-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13; /* 112.5% */
    cursor: pointer;
    transition:background-color var(--transition-duration) var(--transition-time-function);
}
.btn:hover,.btn:focus{
    background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
    .btn{
        padding:16px 60px;
        font-size: 20px;
        line-height: 1.2; /* 120% */
    }
}