

.dailyContainer {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 96px;
  padding: 14px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background-color: orangered; /* примечание: используйте переменную --color */

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 209px;
    height: 108px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 214px;
    height: 108px;
    padding: 14px 18px;
    align-items: flex-start;
    gap: 32px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: var(--orange-color);
  stroke: var(--orange-color);
}

.text {
  color: rgba(239, 237, 232, 0.8);
  font-family: 'RobotoRegular';
  }
/* styles.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-top: 64px;
  }
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 1px solid #e6533c;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.photo {
  border-radius: 100px;
}

.button {
  cursor: pointer;
}

.svgLogoUser {
  @media screen and (min-width: 768px) {
    width: 102px;
    height: 102px;
  }
}

.iconBtn {
  width: 24px;
  height: 24px;
  position: relative;
  top: -13px;
  left: 0px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
    top: -17.5px;
  }
}

.titleName {
  color: #efede8;

  @media screen and (min-width: 768px) {
    font-family: 'RobotoRegular';
    font-size: 24px;
    line-height: 28px;
  }
}

.subtitle {
  font-family: 'RobotoRegular';
  font-size: 14px;
  line-height: 18px;
  color: var(--normal-color);
  margin-top: 4px;

  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
}
