@import "../../index.css"; 

.logoutBtn{
 color: var(--invent-color);
 font-family: Roboto, sans-serif;
 font-size: 14px;
 line-height: 18px;
background-color: transparent;
border:none;  
display: flex;
justify-content: flex-start;
align-items: center;
cursor:pointer;
gap:8px;
padding: 0;
}
.logoutIcon
{
width:20px;
height: 20px;
stroke: #EFEDE8
}
@media screen and (min-width: 1440px) {
.logoutBtn{
  justify-content: flex-end;
}
.logoutIcon
{
stroke: #E6533C;
}
}




