@import "../../index.css"; 

.logoutBtn{
 color: var(--invent-color);
 font-family: Roboto, sans-serif;
 font-size: 14px;
 line-height: 18px;
background-color: transparent;
border:none;  
display: flex;
justify-content: flex-end;
align-items: center;
cursor:pointer;
gap:8px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .logout {
  margin-right: 150px;
}}
.logoutIcon
{
width:20px;
height: 20px;
}


.text{
  margin-right: 8px;}
