@import "../../index.css"; 

.logout {
 color: var(--invent-color);
 font-family: Roboto, sans-serif;
 font-size: 14px;
 line-height: 18px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;


}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .logout {
  margin-right: 150px;
}}
.logout svg
{
width:20px;
height: 20px;
}


.text{
  margin-right: 8px;}
