.mainContainer {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .mainContainer {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .mainContainer {
    padding: 0 96px;
    max-width: 1440px;
  }
}
