.logotipe {
  width: 126px;
  height: 13px;
}
.logoNotFound {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 126px;
  height: 13px;
}
@media screen and (min-width: 768px) {
  .logotipe {
    width: 151px;
    height: 17px;
  }
  .logoNotFound {
    top: 32px;
    left: 32px;
    width: 151px;
    height: 17px;
  }
}

@media screen and (min-width: 1440px) {
  .logoNotFound {
    top: 32px;
    left: 96px;
  }
}
