.modalContainer {
  text-align: center;
}
.modalAnimation {
  margin: auto;
  width: 270px;
  height: 226px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: linear-gradient(
    0deg,
    rgba(4, 4, 4, 0.2) 0%,
    rgba(4, 4, 4, 0.2) 100%
  );
}
.modalTime {
  margin-top: 14px;
  position: relative;
  margin-bottom: 8px;
}

.time {
  display: inline;
  color: var(--invent-color);
  position: absolute;
  transform: rotate(180deg);
  top: 50px;
  left: 0;
  width: inherit;
  text-align: center;
  vertical-align: middle;
  height: 24px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.pauseSvg {
  width: 32px;
  height: 32px;
}
.pauseBtn {
  background-color: transparent;
  border: none;
  margin-top: 14px;
  padding: 0;
}
.pauseBtn:hover {
  background-color: transparent;
}
.progressBar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(180deg);
  margin: auto;
  position: relative;
}
.dotContainer {
  width: 100px;
  height: 100px;
  top: 0;
  position: absolute;
}
.dot {
  width: 7px;
  height: 7px;
  background-color: var(--decorate-color);
  border-radius: 50%;
  margin: auto;
  margin-top: -1px;
}

.exerciseChars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-right: 17px;
}
.modalStat {
  color: var(--calendar-arrow-color);

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 0px 12px 18px;
  text-align: left;

  border-radius: 12px;
  border: 1px solid var(--calendar-invalid-date);
  background: rgba(239, 237, 232, 0.05);
}
.modalStat p {
  color: var(--invent-color);

  font-size: 14px;

  font-weight: 700;
  line-height: 18px;
  margin-top: 4px;
}

.focus {
  color: var(--decorate-color);
}
button {
  border: 0;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--decorate-color);

  color: var(--invent-color);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
}
button:hover {
  background-color: var(--accent-color);
}
.addBtn {
  margin-top: 24px;
  margin-right: 168px;
  margin-bottom: 48px;
  padding: 12px;
}
.addBtnDead {
  margin-top: 24px;
  margin-right: 168px;
  margin-bottom: 48px;
  padding: 12px;
  background-color: var(--accent-color);
}
.thumb {
  width: 159px;
  height: 158px;
}
h1 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  color: var(--invent-color);
  margin-bottom: 16px;
}
.finalStats {
  text-align: center;
  margin-bottom: 24px;
}

.toDiary {
  position: relative;
  color: var(--input-border-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-left: -28px;

  margin-top: 16px;
  /* display: flex; */
  /* align-items: center; */
}
.arrow {
  /* width: 16px;
  height: 16px;
  stroke: var(--input-border-color); */
  position: absolute;
  top: 0;
  right: 33px;
  width: 18px;
  height: 18px;
  pointer-events: none;
  stroke-opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .modalContainer {
    display: flex;
    flex-wrap: wrap;
    width: 694px;
    height: 550px;
    gap: 16px;
  }
  .modalContainer:has(.thumb) {
    justify-items: center;
    width: 100%;
    padding: 10px 103px;
    height: auto;
  }

  .exerciseChars {
    margin-right: 31px;
    width: 340px;
  }
  .addBtn {
    position: absolute;
    right: -136px;
    bottom: -16px;
  }
  .addBtnDead {
    position: absolute;
    right: -136px;
    bottom: -16px;
    background-color: var(--accent-color);
  }
  .toDiary {
    display: block;
  }
}
