@import '../../index.css';

@media screen and (min-width: 370px) {
  .radioLabel {
    padding-left: 25px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: -0.28px;
    color: var(--input-border-color);
    margin-right: 9px;
    position: relative;
  }
}

.radioLabel::before {
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid var(--input-border-color);
  background-color: var(--background-color);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -16px;
  z-index: 2;
}

.radioInput:checked + .radioLabel::before {
  border-color: var(--accent-color);
  background: radial-gradient(
    circle at center,
    var(--accent-color) 4px,
    var(--background-color) 5px
  );
}

@media screen and (min-width: 768px) {
  .radioLabel {
    font-size: 16px;
    line-height: 24px;
  }
}
