.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.text {
  display: none;
}
.search {
  position: relative;
  width: 100%;
}
.input {
  color: #efede8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: transparent;
  padding: 14px;
  padding-right: 60px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  width: 100%;
  outline: none;
}
.input:hover,
.input:focus,
.input:not(:placeholder-shown) {
  border-color: #e6533c;
}
.input:not(:placeholder-shown) + .svgSearchClose {
  display: flex;
}
.input::placeholder {
  color: #efede8;
  opacity: 1;
}
.svgSearch {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.svgSearchClose {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  top: 16px;
  right: 34px;
}

.arrowCat {
  transform: scaleY(-100%);
}
.arrowRec {
  transform: scaleY(-100%);
}
.categories {
  position: relative;
  width: auto;
  max-width: 146px;
  flex-grow: 1;
}
.filterListWrapper {
  position: absolute;
  top: 50px;
  padding: 14px;
  padding-right: 7px;
  background-color: #1c1c1c;
  border-radius: 12px;
  z-index: 1;
}
.filterList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  max-height: 222px;
  overflow-y: auto;
}
.filterList::-webkit-scrollbar {
  position: absolute;
  top: 0;
  right: 7px;
  width: 6px;
}
.filterList::-webkit-scrollbar-thumb {
  background-color: rgba(239, 237, 232, 0.1);
  border-radius: 12px;
}
.recommended {
  position: relative;
  width: auto;
  max-width: 173px;
  flex-grow: 2;
}
.recommendedList {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 14px;
  z-index: 1;
}
.filterLabel {
  color: #efede8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: transparent;
  text-transform: capitalize;
  padding: 14px;
  padding-right: 32px;
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden;
  cursor: pointer;
}
.filterItem {
  color: #efede8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
  }
  .input {
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  .search {
    width: 236px;
    flex-shrink: 0;
  }
  .filterLabel {
    font-size: 16px;
    line-height: 1.5;
  }
  .categories {
    max-width: 192px;
    flex-shrink: 0;
  }
  .recommended {
    max-width: 204px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1440px) {
  .filters {
    position: absolute;
    top: 70px;
    right: 0;
    width: 664px;
  }
  .text {
    position: absolute;
    right: 0;
    top: -26px;
    display: block;
    color: rgba(239, 237, 232, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.28;
  }
}
