.container {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 374px) {
  .forTitle {
    width: 220px;
     }  
.wrapper{
  display: flex;
  flex-wrap: wrap;
  
}
.forUp{
  width: 220px;
}
.forPf{
  width: 220px;
}
}

@media screen and (min-width: 1440px) {
  .container {
    margin: auto;
    display: grid;
    grid-template-columns: 59% 41%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

    .forPf {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    .forUp {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }


  
}
@media screen and (max-width: 374px){
.forTitle {
  margin-top: 40px;
  width: 100%;
  
   }}
@media screen and (min-width: 375px) and (max-width: 767px){

  .forTitle {
   width: 335px;
   margin: auto;
   margin-top: 40px;
    }
}
  
@media screen and (min-width: 768px) {
.forTitle {
  width: 700px;
  margin: auto;
    margin-top: 72px;
  }
}
.containerMini {
  flex-wrap: wrap;
}

@media screen and (min-width: 1440px) {
  .containerMini {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 96px;
    margin-right: 96px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 40px;
}
@media screen and (min-width: 375px) {
.forUp {
  width: 335px;
  margin: auto;
}
}
@media screen and (min-width: 768px) {
  .forUp {
    width: 490px;
  }
}

@media screen and (min-width: 1440px) {
  .forUp {
    border-left: 2px solid var(--calendar-invalid-date);
    padding-left: 50px;
  }
}
.forLogout 
 {width:100%;
  display: flex;
 justify-content: end;
  
  margin-bottom: 40px;
    }