.exerciseCategoryContainer {
  display: flex;
  gap: 28px;
}
.headHolder {
  margin-left: 20px;
  margin-bottom: 40px;
}
.headHolder h2 {
  margin-bottom: 20px;
}
.activeCat {
  position: relative;
}
.activeCat::after {
  content: '';
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: 2px;
}
.cat,
.activeCat {
  color: var(--invent-color);
}

.arrCont {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  max-width: 335px;
  margin: auto;
}
.arrElCont {
  position: relative;
  max-width: 335px;
  max-height: 206px;
  color: var(--invent-color);
  overflow: hidden;
}
.arrElCont img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.arrElCont div {
  position: absolute;
  text-align: center;
  font-weight: 400;
  top: 0;
  left: 0;
  padding: 45px 105px 45px 105px;
  width: 125px;
  height: 116px;
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
}
.arrElCont h2 {
  font-size: 20px;
  line-height: 24px; /* 120% */
}
.arrElCont p {
  color: var(--calendar-arrow-color);

  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .arrCont {
    gap: 16px;
    flex-wrap: wrap;
    max-width: 708px;
  }
  .arrElCont {
    max-width: 224px;
  }
  .headHolder {
    display: flex;
    justify-content: space-between;

    margin-top: 72px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .arrCont {

    gap: 16px;
    flex-wrap: wrap;
    max-width: 1249px;
  }
  .arrElCont {
    max-width: 237px;
  }
  .headHolder {
    display: flex;
    margin-top: 72px;
    margin-bottom: 64px;
    justify-content: space-between;
    margin-left: 96px;
  }
  .exerciseCategoryContainer {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
  }
}
