.exerciseCategoryContainer {
  display: flex;
  gap: 28px;
  margin-bottom: 40px;
  color: var(--invent-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.activeCat {
  position: relative;
}
.activeCat::after {
  content: '';
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  position: absolute;
  top: 22px;
  left: 0;
  border-radius: 2px;
}

.arrCont {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  max-width: 335px;
  margin: auto;
}
.arrElCont {
  position: relative;
  max-width: 335px;
  max-height: 206px;
  color: var(--invent-color);
  overflow: hidden;
}
.arrElCont img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.arrElContText {
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  justify-items: center;
  font-weight: 400;
  top: 0;
  left: 0;
  padding: 45px 105px;
  width: calc(125px + 210px);
  height: calc(116px + 90px);
  font-style: normal;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
}
.arrElCont h2 {
  font-size: 20px;
  line-height: 24px; /* 120% */
}
.arrElCont p {
  color: var(--calendar-arrow-color);

  font-size: 12px;
  line-height: 18px;
}

.exerciseItemContainer {
  position: relative;
  width: 335px;
  height: 141px;
  background-color: rgba(239, 237, 232, 0.05);
  border: 1px solid var(--calendar-invalid-date);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
.exerciseItemContainer::before {
  content: 'WORKOUT';
  color: white;
  display: inline-flex;
  padding: 5px 7.5px;
  gap: 10px;
  border-radius: 4px;
  background: rgba(239, 237, 232, 0.05);

  margin-left: 16px;
  margin-top: 18px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
}
.exerciseItemContainer h3 svg {
  width: 18px;
  height: 18px;
  fill: #efede8;
}
.exerciseItemContainer h3 svg::after {
  content: ' rgrueghuj  ';
  border-radius: 24px;
  background: #efa082;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.exerciseItemContainer h3 {
  display: flex;
  gap: 16px;
  margin-top: 33px;
  color: var(--invent-color);
}
.exerciseItemContainer h3 span {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.exerciseItemContainer div {
  display: flex;
  gap: 16px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  row-gap: 4px;
  flex-wrap: wrap;
  color: var(--calendar-arrow-color);
}
.exerciseItemContainer div p {
  display: flex;
  gap: 4px;
  max-height: 18px;
  width: auto;
}
.exerciseItemContainer div span {
  color: var(--invent-color);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.startBtn {
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  color: var(--decorate-color);
  background-color: transparent;
  border: none;
  position: absolute;
  top:17px;
  right: 16px;
}
.startBtn svg{
  width: 16px;
  height: 16px;
}
