@import "../../index.css"; 

.bigWrapper { display: flex;
    justify-content: center;}


.wrapper{
  display: flex;
  gap: 8px;
  margin: 40px auto;
  width: 335px;
 
}
  @media screen and (min-width: 768px) {
    .wrapper{
    width: 440px;
    margin: 32px auto;
  }
  }

.wrapperExcl {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  background-color: var(--input-border-color);}


.text{
  color: var(--input-border-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;}
  @media screen and (min-width: 768px) {
    .text{
      font-size: 16px;
      line-height: 24px;
  }
  }