.btnList {
  list-style: none;
  gap: 16px;
  display: none;
}

.headerWrapper {
  display: flex;
  position: absolute;
}

@media screen and (min-width: 1440px) {
  .btnList {
    display: flex;
    margin-left: auto;
  }
  .headerWrapper {
    width: 1440px;
    padding-left: 96px;
  }
}
