.userBar {
  display: flex;
  gap: 14px;
  align-items: center;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid #e6533c;
  background-color: rgba(48, 48, 48, 0.3);
  overflow: hidden;
}
.avatarImg {
  width: 100%;
}
.avatarSvg {
  width: 22px;
  height: 22px;
}
@media screen and (min-width: 768px) {
  .userBar {
    gap: 16px;
  }
  .avatar {
    width: 46px;
    height: 46px;
  }
  .avatarSvg {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .userBar {
    margin-left: 16px;
  }
}
