.dayExecrcises {
    margin-top: 40px;
    padding: 16px 8px 16px 16px;
    margin-bottom: 80px;

    width: 335px;
    min-height: 335px;
    overflow-y: hidden;

    border-radius: 12px;
    border: 1px solid rgba(239, 237, 232, 0.2);
    background: rgba(239, 237, 232, 0.05);
}

.dayScroll {
    overflow-y: auto;
    max-height: 1032px;
}

.dayNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 22px;
}

.dayZag {
    color: rgba(239, 237, 232, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}
.Butt {
    display: flex;
    background-color: transparent;
    border: none;
    color: #e6533c;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    line-height: 1.28;
    padding: 0;
    position: relative;
    text-align: start;
    align-items: center;
    /*width: 101px;*/
}
.iconStrilka {
    cursor: pointer;
        width: 16px;
        height: 16px;
        stroke: #e6533c;
}
/* SCROLL */

.dayScroll::-webkit-scrollbar {
    width: 6px;
    border-radius: 12px;
}

.dayScroll::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(239, 237, 232, 0.1);
}

.dayScroll::-webkit-scrollbar-track {
    border-radius: 12px;
}

@media (min-width: 768px) {
    .dayExecrcises {
        width: 704px;
        height: 234px;

        margin-top: 32px;
        margin-bottom: 64px;
    }

    .dayScroll {
        max-height: 210px;
    }

    .dayNav {
        margin-bottom: 16px;
    }
}

@media (min-width: 1440px) {
    .dayExecrcises {
        min-width: 826px;
    }
}

