.heroContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top:-61px; 
   overflow-y: hidden;
  padding-left: 20px;
  padding-top:127px;
  
}
@media screen and (max-width: 374px) {
  .heroContainer{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    height:100vh;
  }
  .mainTitle {
    width: 300px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.05; /* 105.263% */
    letter-spacing: 0.38px;
    color: var(--invent-color);
    margin-bottom: 40px;
    display: block;
  }
  .rightSide {
    height: 100%;
    background-image: linear-gradient(
        170deg,
        #040404 3.66%,
        rgba(4, 4, 4, 0) 19.15%
      ),
      url('../../img/mobile-bg-img-1x.jpg');
    background-position: right;
  
    background-size: contain;
    background-repeat: no-repeat;
  }
}
/*Mobile*/
@media screen and (min-width: 375px) {
  .heroContainer {
    width: 375px;
    height: 100vh;
    
  }
}
.leftSide {
  width: 100%;
  height: 100%;
  position: relative;
}
.contentWwrapper {
  position: relative;
  z-index: 30;
}

.rightSide {
  position: absolute;
  width: 298px;
  right: 0;
  top: 50px;
  z-index: -1;

  height: 100%;
  background-image: linear-gradient(
      170deg,
      #040404 3.66%,
      rgba(4, 4, 4, 0) 19.15%
    ),
    url('../../img/mobile-bg-img-1x.jpg');
  background-position: right;

  background-size: contain;
  background-repeat: no-repeat;
}
.mainTitle {
  width: 335px;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.05; /* 105.263% */
  letter-spacing: 0.38px;
  color: var(--invent-color);
  margin-bottom: 40px;
  display: block;
}
.btnList {
  display: flex;
  gap: 14px;
}
.btnSignUp {
  padding: 12px 40px;
  border-radius: 12px;
  background-color: var(--decorate-color);
  color: var(--invent-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13; /* 112.5% */
  transition: background-color var(--transition-duration)
      var(--transition-time-function),
    border var(--transition-duration) var(--transition-time-function);
}
.btnSignUp:hover,
.btnSignUp:focus {
  background-color: var(--accent-color);
}
.btnSignIn {
  padding: 12px 40px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid var(--input-border-color);
  color: var(--invent-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13; /* 112.5% */
}
.btnSignIn:hover,
.btnSignIn:focus {
  border: 1px solid var(--decorate-color);
}
.iconLoop {
  width: 98px;
  height: 35px;
  position: absolute;
  top: 43px;
  left: -8px;
  z-index: -1;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .rightSide {
    background-image: linear-gradient(
        170deg,
        #040404 3.66%,
        rgba(4, 4, 4, 0) 19.15%
      ),
      url('../../img/mobile-bg-img-2x.jpg');
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .heroContainer {
   margin-top: -84px;
    width: 768px;
    height: 100vh;
    padding-left: 32px;
    padding-top:189px;
  }
  .leftSide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .rightSide {
    right: 0;
    top: -50px;
    width: 437px;
    
    background-image: linear-gradient(
        170deg,
        #040404 3.66%,
        rgba(4, 4, 4, 0) 19.15%
      ),
      url('../../img/tablet-bg-img-1x.jpg');

    background-size: cover;
    background-repeat: no-repeat;
  }
  .mainTitle {
    margin-bottom: 64px;
    width: 598px;
    font-size: 70px;
    line-height: 1.1; /* 111.429% */
    letter-spacing: 0.7px;
  }
  .btnSignUp {
    padding: 16px 60px;
    font-size: 20px;
    line-height: 1.2; /* 120% */
  }
  .btnSignIn {
    padding: 16px 60px;
    font-size: 20px;
    line-height: 1.2; /* 120% */
  }

  .btnList {
    gap: 20px;
  }
  .iconLoop {
    position: absolute;
    width: 185px;
    height: 67px;
    top: 87px;
    left: -8px;
    z-index: -10;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .rightSide {
      background-image: linear-gradient(
          170deg,
          #040404 3.66%,
          rgba(4, 4, 4, 0) 19.15%
        ),
        url('../../img/tablet-bg-img-2x.jpg');
    }
  }
}
/*Desktop*/
@media screen and (min-width: 1440px) {
  .heroContainer {
   padding-top:200px;
    width: 1440px;
    height: 100vh;
    padding-left: 96px;
  }

  .leftSide {
    position: relative;
    width: 100%;
    height: inherit;
  }
  .rightSide {
    top:-200px;
    width: 670px;
    right:0;
    background-image: linear-gradient(
        80deg,
        #040404 -2.45%,
        rgba(4, 4, 4, 0) 68.17%
      ),
      url('../../img/descktop-bg-img-1x.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .iconLoop {
    position: absolute;
    width: 185px;
    height: 67px;
    top: 87px;
    left: -8px;
    z-index: -10;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    .rightSide {
      background-image: linear-gradient(
          170deg,
          #040404 3.66%,
          rgba(4, 4, 4, 0) 19.15%
        ),
        url('../../img/descktop-bg-img-2x.jpg');
    }
  }
}
