.exerciseListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  width: 335px;
}
.exerciseItemContainer {
  width: 335px;
  background-color: rgba(239, 237, 232, 0.05);
  border: 1px solid var(--calendar-invalid-date);
  position: relative;
  border-radius: 12px;
  padding: 16px;
}
.exerciseItemContainer::before {
  content: 'WORKOUT';
  color: var(--invent-color);
  display: inline-flex;
  padding: 5px 7.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(239, 237, 232, 0.05);

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.exerciseItemContainer h3 {
  color: var(--invent-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.exerciseItemContainer h3 svg {
  margin-right: 16px;
  fill: var(--invent-color);
  background-color: var(--rare-color);
  border-radius: 50%;
  padding: 1px;
  width: 24px;
  height: 24px;
  margin-top: 33px;
}

.exerciseItemContainer p {
  display: flex;
  color: var(--calendar-arrow-color);
  gap: 4px;
  white-space: nowrap;
}
.exerciseItemContainer p span {
  color: var(--invent-color);
}
.startBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: transparent;
  border: none;
  display: flex;
  gap: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  transition: all 0.5s ease;
}
.startBtn:hover {
  color: var(--decorate-color);
  background-color: transparent;
}
.startBtn svg {
  width: 16px;
  height: 16px;
  fill: var(--invent-color);
}

.exerciseStatsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
  row-gap: 4px;
}
.exerciseStatsContainer p {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  color: var(--calendar-arrow-color);
}
.woman {
  position: absolute;
}

@media screen and (min-width: 768px) {
  .exerciseListContainer {
   
    width: 694px;
    margin: auto;
    row-gap: 32px;
    column-gap: 16px;
    height: 738px;
    overflow-y: scroll;
    padding-bottom: 66px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(239, 237, 232, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    width: 8px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .exerciseListContainer {
    width: 840px;
    height:500px;
    margin-left: 96px;
    margin-right: 0;
  }
  .exerciseItemContainer {
    width: 405px;
  }
  .woman {
    right: 0px;
    top: 84px;
    width: 670px;
    height: min(902px, calc(99vh - 84px));
    z-index: -2;
    background: linear-gradient(80deg, #040404 -2.45%, rgba(4, 4, 4, 0) 68.17%),
      url('../../../img/descktop-bg-img-2x.jpg'),
      lightgray 0px -48px / 94.516% 105.335% no-repeat;
  }
  .exerciseStatsContainer{
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
