.container {
  width: 375px;
  padding-left: 20px;
  padding-top: 90.5px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  /* background-image: linear-gradient(168.14deg, #040404 14.75%, rgba(4, 4, 4, 0) 82.97%),
  linear-gradient(73.21deg, #040404 6.11%, rgba(4, 4, 4, 0) 36.68%), url('../../img/mobile-bg-image');
      background-position: right bottom;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      min-height: 100vh; */
}

.text {
  width: 335px;
  color: var(--input-border-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  margin-bottom: 28px;
  margin-top: 14px;
}

.link {
  display: inline;
  color: var(--invent-color);
  /* font-feature-settings: 'clig' off, 'liga' off; */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-top: 140.9px;
  }
  .text {
    width: 496px;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-top: 151.9px;
    padding-left: 96px;
  }
}
